
/* FOR AVATAR*/

.snip1542 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /*margin: 10px 5px;*/
    /*margin-left: 15px;*/
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1542 *,
.snip1542 *:before,
.snip1542 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1542 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1542:before,
.snip1542:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #610E29;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1542:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1542:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1542 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding-top: 25px;
    /*padding: 25px 40% 25px 20px;*/
    margin-right: auto;
}

.snip1542 figcaption:before,
.snip1542 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #610E29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
}

.snip1542 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1542 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1542 h3,
.snip1542 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
    text-align: justify-all;
}

.snip1542 h3 {
    /*font-family: 'Teko', sans-serif;*/
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 15px;
}

.snip1542 p {
    font-size: 0.8em;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
}
.p_dark {
    color: #494949;
}
.snip1542 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1542:hover h3,
.snip1542.hover h3,
.snip1542:hover p,
.snip1542.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1542:hover:before,
.snip1542.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1542:hover:after,
.snip1542.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1542:hover figcaption:before,
.snip1542.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1542:hover figcaption:after,
.snip1542.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}









/* FOR PORTFOLIO*/

.snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /*margin: 10px 5px;*/
    margin-left: 5px;
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    height: 140px;
    overflow: hidden;
    position: relative;
    text-align: left;
    /*width: 100%;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1543:before,
.snip1543:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #610E29;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1543:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #610E29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
}

.snip1543 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1543 h3 {
    /*font-family: 'Teko', sans-serif;*/
    font-size: 26px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.snip1543 p {
    font-size: 0.6em;
    color: #f1f1f1;
}

.snip1543 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}


/* FOR WORK*/

.snip1544 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    /*margin: 10px 5px;*/
    /*margin-left: 15px;*/
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    /*width: 100%;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1544 *,
.snip1544 *:before,
.snip1544 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1544 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1544:before,
.snip1544:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    /*background-color: #610E29;*/
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1544:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1544:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1544 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 15px;
}

.snip1544 figcaption:before,
.snip1544 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #610E29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
}

.snip1544 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1544 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1544 h3,
.snip1544 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1544 h3 {
    /*font-family: 'Teko', sans-serif;*/
    font-size: 12px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.snip1544 p {
    padding-top: 5px;
    color: #f1f1f1;
    font-size: 0.9em;
}

.snip1544 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1544:hover h3,
.snip1544.hover h3,
.snip1544:hover p,
.snip1544.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1544:hover:before,
.snip1544.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1544:hover:after,
.snip1544.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1544:hover figcaption:before,
.snip1544.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1544:hover figcaption:after,
.snip1544.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}




/* FOR WORK*/

.upload_box {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    /*margin: 10px 5px;*/
    /*margin-left: 15px;*/
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    /*width: 100%;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.upload_box figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 15px;
}








/* FOR LITTLE PORTFOLIO*/

.snip1545 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /*margin: 10px 5px;*/
    /*margin-left: 15px;*/
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    /*width: 100%;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1545 *,
.snip1545 *:before,
.snip1545 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1545 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1545:before,
.snip1545:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #610E29;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1545:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1545:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1545 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
}

.snip1545 figcaption:before,
.snip1545 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #610E29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
}

.snip1545 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1545 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1545 h3,
.snip1545 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1545 h3 {
    /*font-family: 'Teko', sans-serif;*/
    font-size: 26px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.snip1545 p {
    font-size: 0.6em;
    color: #f1f1f1;
}

.snip1545 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1545:hover h3,
.snip1545.hover h3,
.snip1545:hover p,
.snip1545.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1545:hover:before,
.snip1545.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1545:hover:after,
.snip1545.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1545:hover figcaption:before,
.snip1545.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1545:hover figcaption:after,
.snip1545.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}


/* FOR LITTLE PORTFOLIO*/

.snip1546 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /*margin: 10px 5px;*/
    /*margin-left: 15px;*/
    /*max-width: 315px;*/
    /*min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    /*width: 100%;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1546 *,
.snip1546 *:before,
.snip1546 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1546 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1546:before,
.snip1546:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #610E29;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1546:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%);
}

.snip1546:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%);
}

.snip1546 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px;
}

.snip1546 figcaption:before,
.snip1546 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #610E29;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
}

.snip1546 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%);
}

.snip1546 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%);
}

.snip1546 h3,
.snip1546 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.snip1546 h3 {
    /*font-family: 'Teko', sans-serif;*/
    font-size: 26px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.snip1546 p {
    font-size: 0.6em;
    color: #f1f1f1;
}

.snip1546 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1546:hover h3,
.snip1546.hover h3,
.snip1546:hover p,
.snip1546.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.snip1546:hover:before,
.snip1546.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.snip1546:hover:after,
.snip1546.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
}

.snip1546:hover figcaption:before,
.snip1546.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1546:hover figcaption:after,
.snip1546.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}




/* ---------------------------------------------------------- */
