
.round_sidebar {
    width: 20%;
    /*height: 40px;*/
    padding-bottom: 20%; /* = width for a 1:1 aspect ratio */
    /*margin: 0.55%;*/
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    -webkit-border-radius: 50%; /* закругление границ для всех браузеров*/
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.round_big {
    float: right;
    position: relative;
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    -webkit-border-radius: 50%; /* закругление границ для всех браузеров*/
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.round {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    -webkit-border-radius: 50%; /* закругление границ для всех браузеров*/
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.square {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.square-home {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 2px;
    /*margin-top: 1px;*/
    /*margin-right: 1px;*/
    /*margin-bottom: 1px;*/
    /*margin-left: 1px;*/

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.rectangle{
    float: left;
    position: relative;
    width: 100%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}


.middle-rectangle{
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    margin-bottom: 5px;
    margin-left: 6px;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}
.upload_fon_rectangle{
    border: #c9c9c9 4px dotted;

}


.rectangle_work{
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 95%; /* = width for a 1:1 aspect ratio */
    margin-bottom: 5px;
    margin-left: 4px;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    /*border: #494949 1px solid;*/
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}


.little-rectangle{
    float: left;
    position: relative;
    width: 18.9%;
    padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.little-rectangle-home{
    float: left;
    position: relative;
    width: 21.1%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.img_1-1{background-image:url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');}
.img_1-2{background-image:url('https://static.zerochan.net/Amaha.Tsubasa.full.125585.jpg');}
.img_1-3{background-image:url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');}
.img_1-4{background-image:url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');}
.img_1-5{background-image:url('https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg');}
.img_1-6{background-image:url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');}

.img_2-1{background-image:url('https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg');}
.img_2-2{background-image:url('https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg');}
.img_2-3{background-image:url('https://static.zerochan.net/Amaha.Tsubasa.full.125585.jpg');}
.img_2-4{background-image:url('https://farm8.staticflickr.com/7163/6822904141_50277565c3.jpg');}
.img_2-5{background-image:url('https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg');}
.img_2-6{background-image:url('https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg');}

.img_3-1{background-image:url('https://farm9.staticflickr.com/8429/7862595906_8f953fd25b.jpg');}
.img_3-2{background-image:url('https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg');}
.img_3-3{background-image:url('https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg');}
.img_3-4{background-image:url('https://farm9.staticflickr.com/8429/7862595906_8f953fd25b.jpg');}
.img_3-5{background-image:url('https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg');}
.img_3-6{background-image:url('https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg');}

.img_avatar{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/011/114/826/large/las-91214-64396885-p16-master1200.jpg?1527912905');
    /*border: #494949 solid 1px;*/
    /*box-shadow: 1px 2px 5px rgba(0,0,0,.5);*/
}

.img_avatar_menu{
    background-image: url('https://static.zerochan.net/Amaha.Tsubasa.full.125585.jpg');
    border: #f1f1f1 solid 1px;
}

.user_intre{
    background-image: url('https://static.zerochan.net/Amaha.Tsubasa.full.125585.jpg');
    /*border: #494949 solid 1px;*/
}
.round_user_intre {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    -webkit-border-radius: 50%; /* закругление границ для всех браузеров*/
    -moz-border-radius: 50%;
    border-radius: 50%;
}



.round_user_intre-small {
    background-image: url('https://static.zerochan.net/Amaha.Tsubasa.full.125585.jpg');
    float: left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin: 0.55%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    -webkit-border-radius: 50%; /* закругление границ для всех браузеров*/
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.square_small {
    float: contour;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    margin: 0.1%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}


/* BLOCK CARD ACCOUNT */

.account{
    /*border: #494949 solid 1px;*/
}

.team-block {
    margin-bottom: 10px;
}

.team-content {
    position: absolute;
    /*background-color: rgba(97, 14, 41, 0.8);*/
    top: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 10px; }
/*             background-color: rgba(17, 24, 31, 0.8);              */
.team-img { position: relative; }
.team-img img { width: 100%; }
.team-title { }
.team-meta { color: #fff; font-weight: 400; font-size: 12px; }
/*.overlay { border-radius: 0px;*/
/*position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: 1s ease;*/
/*background-color: #450949; }*/
.team-img:hover .overlay { opacity: .8; }
.team-img:hover .team-content { opacity: 0; }
.text { color: #fff; position: absolute; top: 30%; left: 30%;
    transform: translate(-26%, -26%); -ms-transform: translate(-26%, -26%); right: 0; font-weight: 400; font-size: 16px; }

.overlay .text { color: #fff; }

.rectangle_account{
    width: 100%;
    /*height: 400px;*/
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    /*margin: 0.55%;*/

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border: #494949 1px solid;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}


.rectangle_account_image{
    width: 100%;
    /*height: 400px;*/
    padding-bottom : 140%; /* = width for a 1:1 aspect ratio */
    /*margin: 0.55%;*/

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    /*box-shadow: 1px 2px 5px rgba(0,0,0,.5);*/

}

